@font-face {
  font-family: 'VT323';
  src: url('assets/VT323-Regular.ttf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

button {
  font-family: 'VT323', monospace;
}
